body{
    background-color: gold;
}
heading{
    text-align: center;
    font-family:cursive;
}
.border{
    border:2px solid blue;
       background-color:blue;
    width:50%;
    
    
}
main{
    color:blue;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family:cursive;
}
footer{
    font-family: cursive;
}
img{
    width:80%;
    
    margin:auto;
}